<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/add.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  </head>
  <header>A To Do List</header>
<body>

  <form method="POST" action="/todo" class="addTaskBar">
    <textarea class="textbox" name="text" placeholder="add"></textarea>
    <button type="submit" class="btn btn-light">ADD</button>
  </form>

    <!-- <section class="addTodo">
      <textarea class="textbox" name="text" placeholder="New task"></textarea>
    </section> -->
<footer>
<button type="button" class="btn btn-light">Plus</button>
</footer>
</body>
</html>
