<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GOAT2 Notes</title>
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  </head>
  <body margin="0px">
    <nav class="nav">
      <a href="/todo">
        <img style="width:10vw" src="/portfolio/goat.png" />
      </a>
      <h1>GOAT2 NOTES</h1>
    </nav>

    <div class="video">
      <video
        src="/images/mountains.mp4"
        width="100%"
        autoplay
        loop
        muted
      ></video>
      <div class="visible">
        <h2>Conquer</h2>
      </div>
      <div class="content">
        <h2>One task at a time</h2>
        <!-- <h1>with GOAT2 NOTES</h1> -->
      </div>
    </div>

    <div class="container"></div>
  </body>
</html>
