<html>
  <head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
  </head>
  <header>A To Do List</header>
<body>
    <section class="container">
        <div class="read">
          <i class="material-icons">
            library_books
            </i>
          <p>Books (To read)</p>
          <p></p>
          <p></p>
        </div>
        <div class="buy">
          <i class="material-icons">
            shopping_cart
            </i>
          <p>Products (To buy)</p>
          <p></p>
          <p></p>
        </div>
        <div class="eat">
          <i class="material-icons">
            fastfood
            </i>
          <p>Restaurants, cafes, etc. (To eat)</p>
          <p></p>
          <p></p>
        </div>
        <div class="watch">
          <i class="material-icons">
            tv
            </i>
          <p>Film / Series (To watch)</p>
          <p></p>
          <p></p>
        </div>
        <div class="other">
          <i class="material-icons">
            more_horiz
            </i>
          <p>Other</p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
</div>
<footer>
  <button formaction="addTask" type="button" class="btn btn-light"> <i class="material-icons">
    add
    </i></button>
</footer>
</body>
</html>
