<html>
  <head>
    <title> ToDo App </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/modals.css" type="text/css"/>
  </head>
  <header>To Do List</header>
  <form method="POST" action="/add" class="searchBar">
    <textarea class="textbox" name="text" placeholder="search"></textarea>
    <button type="button" class="btn btn-light">Search</button>
  </form>
<body>
    <section class="container">
        <div class="read">
          <i class="material-icons">
            library_books
            </i>
          <p>Books (To read)</p>
          <p></p>
          <p></p>
        </div>
        <div class="buy">
          <i class="material-icons">
            shopping_cart
            </i>
          <p>Products (To buy)</p>
          <p></p>
          <p></p>
        </div>
        <div class="eat">
          <i class="material-icons">
            fastfood
            </i>
          <p>Restaurants, cafes, etc. (To eat)</p>
          <p></p>
          <p></p>
        </div>
        <div class="watch">
          <i class="material-icons">
            tv
            </i>
          <p>Film / Series (To watch)</p>
          <p></p>
          <p></p>
        </div>
        <div class="other">
          <i class="material-icons">
            more_horiz
            </i>
          <p>Other</p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div>
</div>
<footer>

  <form method="GET" action="/todo/add">  <button class="btn btn-light"><i class="material-icons">
    add
    </i></button>
   </form>

</footer>
</body>
</section>
</html>
