<!DOCTYPE html>
<html lang="en">
  <head>
    <title>First task: Login</title>
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  </head>
  <header>First task: Login</header>
  <body>
    <form action="/login" method="POST">
      <div class="logpage">
        <input
          class="logform"
          type="text"
          name="username"
          placeholder="Your super cool username"
        />

        <input
          class="logform"
          type="password"
          name="password"
          placeholder="Enter password"
        />
        <button type="submit">Authenticate</button>
      </div>


    </form>
  </body>
</html>
