$light-gray: #90a4ae;
$dark-gray: #455a64;
$white: #eceff1;
$red: #ff5252;
$green: #69f0ae;
$white-border: 1px solid $white;

body {
  background: white;
  color: orange;
  font-family: 'Montserrat', sans-serif;
}


.taskBar {
  display: grid;
  justify-content: center;
}

.addTaskBar {
  display: grid;
  justify-content: center;
}

.textbox {
  display: grid;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  background-color: transparent;
  padding: 10%;
  font-family: 'Montserrat', sans-serif;
  border:#fd7e14;
  border-width: 0.5rem;
  width: 35vw;
  border-style: solid;
  border-color: solid #343a40;
  font-size: 100px;
}

.button {
  display: flex;
  justify-content: center;
  color: #343a40;
  font-size: 120px;
  margin-left: 100px;
}

footer {
  display: grid;
  justify-content: center;
}

