body {
  background-color:light grey;
  margin: 5%;
}

header {
  display: flex;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 48% 48%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.read {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: solid black 3px;
  margin-top: 5%;

}

.buy {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: solid black 3px;
  margin-top: 5%;
}

.eat {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: solid black 3px;
  margin-top: 5%;
}

.watch {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: solid black 3px;
  margin-top: 5%;
}

.other {
  display: flex;
  justify-content: center;
  margin: 5%;
  border: solid black 3px;
  margin-top: 5%;
}
// .item {
//   flex: 0 48%;
//   height: 100px;
//   margin-bottom: 2%;
// }

footer {
  // display: flex;
  align-content: right;
}

